body {
    background-color: red;
}

button {
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: x-large;
    font-weight: bold;
}

#res {
    border: 1px solid black;
}

input {
    height: 50px;
    width: 100px;
    text-align: center;
}

section {
    text-align: center;
    font-size: 40px;
}